*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
line-height: 20px;
}

.container{
    display: grid;
    grid-template-columns:255px 1184px;
    height: auto;
  }
 
    
  .right-container{
   height: auto;}
   
  